/* styles.css */

/* Body background */
body {
	/*background-color: #F0B27A;*/
	background-color:#fff;
	font-size: 16px;
        font-family: 'Open Sans',sans-serif;
	background-color: #F0B27A;
}

/* Menu bar at top */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*position: fixed;*/
    overflow: hidden;
    width: 100%;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #BA4A00;
}

.active {
    background-color: #4CAF50;
}

.container {
    display: grid;

    grid-template-columns: 1fr 4fr 1fr 1fr;

    grid-template-areas: 
	"L_space menu menu R_space"        
	"L_space header header R_space"	
        "L_space main main R_space"
        "L_space footer footer R_space";

    /*  The gutters between each grid cell will be 30 pixels. */
    grid-gap: 10px 20px;
}

div {
    /*text-align: left; */
    color: #000; /* text color */
    box-sizing: border-box;
    padding-left: 10px; /* distance text is from edge of box */
    
}
.R_space {
    grid-area: R_space;
}
.L_space {
    grid-area: L_space;
}
.sidebar {
    grid area:sidebar;
    text-align:center;
}


.header {
    grid-area: header;
    height: 80px;
    padding-left:20px;
}

.menu {
    grid-area: menu;
    height:50px;
    padding:0px;
    background-color: #333;
}


.main {
    grid-area: main;
    /*background-color: #2F3C5E;*/
    min-height:400px;
    padding-left:59px;
}

.footer {
    grid-area: footer;
    background-color: #333;
    height: 50px;
    text-align:center;
    padding:15px;
}
.footer a {
	color:#fff
}

/* Seminar Grid */
.seminargrid {
  display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-areas:
	"topic1 topic2"
	"topic3 topic3";
    padding-left:0px;
}
.seminargrid u {
	font-size:18px;
}
.topic1 { grid-area:topic1; }
.topic2 { grid-area:topic2; }
.topic3 {
	grid-area:topic3;
	padding-left:20%;
	padding-top:10px;
}

/* My form */

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input:focus {
    border:2px solid #BA4A00;
}
input[type=text], textarea {
    width: 100%;
}

input[type=tel] {
    width:25%;
}
input[type=email] {
    width:60%;
}
input[type=select] {
    /*background-color: #f1f1f1;*/
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.myform {
    border-radius: 5px;
    background-color: #4CAF50;
    padding: 20px;
    width:70%;
    margin-bottom:20px;
    padding-bottom:60px;
}
